<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small bg-light text-dark">
        <div class="container text-center text-md-left pt-4">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold text-info">쇼핑몰 정보</h5>
                    <p class="text-secondary">대표: 홍길동 | 주소: 서울시 강남구</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-weight-bold text-info">고객센터</h5>
                    <ul class="list-unstyled">
                        <li><a href="#!" class="text-secondary">FAQ</a></li>
                        <li><a href="#!" class="text-secondary">1:1 문의</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center py-3 bg-light text-muted">
            © 2020 Copyright: Shopping Mall Example WebSite
        </div>
    </footer>
</div>
</html>